<div class="page-header">
  <h3>Actor #<%= @actor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @actor.name %></dd>

      <dt>Dob</dt>
      <dd><%= @actor.dob %></dd>

      <dt>Bio</dt>
      <dd><%= @actor.bio %></dd>

      <dt>Image url</dt>
      <dd><image src="<%= @actor.image_url %>" height="200"></image></dd>
      
      <dt># Characters</dt>
      <dd><%= @actor.characters.length %></dd>
      
      <dt>filmography</dt>
      <dd>
        <% @actor.movies.each do |movie| %>
          <td><%= movie.title %></td>
        <% end %>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/actors" class="btn btn-primary">
        Back
      </a>
      <a href="/actors/<%= @actor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_actor/<%= @actor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
    
    <form action="/create_character" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>
        <%= select_tag("movie_id", options_from_collection_for_select(Movie.all, :id, :title, @character.movie_id), :class => "form-control") %>
        <a href="/movies/new" class="btn btn-sm btn-success">New Movie</a>
      </div>

      <input type="hidden" name="actor_id" value="<%= @actor.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @character.name %>">
      </div>

      <button class="btn btn-success">
        Create Character
      </button>
      or
      <a href="/characters">Cancel</a>
    </form>
  </div>
</div>
